.container {
  padding: 2rem;
  background-color: #6085E0;
}

.main {
  min-height: 100vh;
  padding: 3rem 4rem;
  flex: 1;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
}

.left {
  width: 50%;
}

.wrapper {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}

.titleContainer {
  margin: 48px 0px;
}

.titleBold {
  margin: 0;
  font-family: 'Serca';
  font-size: 48px;
  font-weight: bold;
  /* color: #FFFFFF; */
}

.titleReg {
  margin: 0;
  font-family: 'Serca';
  font-size: 48px;
  /* color: #FFFFFF; */
}

.inputLabel {
  font-family: 'Serca';
  font-size: 18px;
  font-weight: 600;
}

.inputContainer {
  margin-top: 4px;
  margin-bottom: 12px;
}

.input {
  height: 50px;
  width: 400px;
  border-radius: 12px;
  outline: none;
  background-color: #FFFFFF;
  border: none;
  padding: 12px;
}

.submitButton {
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 12px;
  border: none;
  font-family: 'Serca';
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 12px;
}

.bottomSection {
  display: flex;
}

.contentContainer {
  position: relative;
  margin-right: 30px;
}

.legalSection {
  display: flex;
  align-items: center;
}

.legalContainer {
  width: 240px;
  border-radius: 12px;
  padding: 12px;
}

.legalLabel {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Serca';
  font-weight: 600;
  letter-spacing: 0.5px;
}

.socialWrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.socialContainer {
  display: flex;
}

.socialIcon {
  width: 24px;
  height: 24px;
}

.socialName {
  margin: 0;
  margin-left: 4px;
  font-size: 14px;
  align-self: center;
}

.logoContainer {
  display: flex;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.legalContainer2 {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px;
  min-height: 153px;
  width: fit-content;
}

.icon3d {
 position: absolute;
 bottom: 110px;
 left: 20px;
}

.icon3dSearch {
  position: absolute;
  bottom: 110px;
  left: 20px;
 }

.logoImage {
  width: 150px;
  height: 70px;
}

@media (max-width: 768px) {
  .main {
    padding: 0;
    background: none;
  }

  .left {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 135px;
  }

  .bottomSection {
    display: block;
  }

  .contentContainer {
    position: relative;
    margin: 0;
    margin-bottom: 40%;
  }

  .icon3d {
    position: absolute;
    top: -25%;
    left: 90px;
    height: max-content;
   }

   .icon3dSearch {
    position: absolute;
    top: -35%;
    left: 90px;
    height: max-content;
   }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoImage {
    width: 250px;
    height: 115px;
  }

  .legalContainer2 {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    padding-top: 65px;
  }

  .legalLogo {
    width: 100%;
    height: 120px;
  }

  .bannerContainer {
    width: 120px;
    height: 120px;
  }

  .socialIcon {
    width: 28px;
    height: 28px;
  }

  .socialName {
    margin: 0;
    margin-left: 4px;
    font-size: 16px;
    align-self: center;
  }

  .socialWrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
